body {
  background: #fafbfc;
  text-align: center;
}

.cta-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#logo {
  padding-left: 20px;
  padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.form {
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  width: 50%;
  padding: 40px;
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 10px;
  display: inline-block;
}

.toggle-title {
  color: #14537d;
  font-size: 16px;
  text-align: left;
}

fieldset {
  border: 0px;
  font-size: 0;
}

label {
  text-align: left;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.field {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}

input {
  height: 40px;
  width: 95%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding-bottom: 26px;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 148px;
  background-color: #ECECEC;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f7e094;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.results {
  display: inline-block;
  padding-top: 50px;
  width: 55%;
}

.business-img {
  width: 120px;
  clip-path: circle(50px);
}

.item-details {
  display: inline-block;
  line-height: 1.2em;
  padding: 30px;
}

.business-recommendation {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 10px;
  background: white;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.business-recommendation:hover {
  border: 3px solid #974cfa;
}

.recommendation-form {
  padding-bottom: 80px;
}

.add-button-row {
  text-align: left;
  margin-bottom: 40px;
}

.add-button {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  background-color: #f7e094;
  color: black;
  text-align: center;
}
.data {
  display: inline-block;
}
.business-img {
  display: inline-block;

  vertical-align: top;
}
.business-title {
  margin-top: 0px;
}
/*Mobile*/

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 0px;
  }

  .form {
    margin: 5%;
    text-align: center;
  }

  .business-recommendation {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .switch-field label {
    width: 40px;
    font-size: 13px;
    padding: 12px 22px;
  }
}
