body {
 	background: #FAFBFC;
 	text-align: center;
 }


.cta-row {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.form {
	-webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  padding: 40px;
  background-color: white;
  margin: 0% 30% 20% 30%;	
  border-radius: 10px;
}

fieldset {
  border: 0px;
  font-size: 0;  
}

label {
  text-align: left;
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.field {
  width: 80%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}

input {
  height: 40px;
  width: 95%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding-bottom: 26px;
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 12px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #F7E094;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
