body {
 	background: #FAFBFC;
 	text-align: center;
 }

#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.feed-item {
 	width: 50%;
 	margin: 50px auto 0px auto;
 	border: 1px solid grey;
 	border-radius: 10px;
 	background: white;
 	text-align: left;
 	padding-bottom: 30px;
}

.item-details {
	display: inline-block;
	line-height: 1.7em;
	padding-left: 20px;
}

ul {
	list-style: none;
	display: inline-block;
}

a {
  text-decoration: none;
}

p {
	margin: 0;
}

h3 {
	margin-left: 12%;
}

.item-img {
	float: left;
}

.item-type {
	background: #FA4C6A;
	color: white;
	border-radius: 5px;
	padding: 3px 3px;
	width: 20%;
	margin-left: 35%;
	text-align: center;
}

.vote-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  background: #F7E094;
  color: #666;
  text-align: center;
  float: right;
}