body {
 	background: #FAFBFC;
 	text-align: center;
 }

#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 40%;
}

.collection-item {
 	width: 100%;
 	border: 1px solid #ECECEC;
 	border-radius: 10px;
 	background: white;
 	text-align: left;
 	position: relative;
  margin-bottom: 50px;
}

.item-details {
	display: inline-block;
	line-height: 1.7em;
	padding-left: 20px;
  float:left;
  width:47%
}

.posted-by-img {
  position: relative;
  top: 10px;
}

h2 {
  color: black;
  font-size: 26px;
  text-align: left;
}

.posted-by {
  text-align: left;
  padding-bottom: 20px;
}

.friend-name {
  margin-bottom: 4px;
}

.friend-details {
  display: inline-block;
  padding-left: 20px;
}

.time-stamp {
  font-size: 11px;
  color: grey;
}

.clear{
  clear: both;
}

a {
  text-decoration: none;
}

p {
	margin: 0;
}

.item-img {
	float: left;
  display:inline-block;
	height: 200px;
}

.item-type {
	background: #FA4C6A;
	color: white;
	border-radius: 5px;
	padding: 3px 3px;
	width: 20%;
	text-align: center;
  margin-top: 20px;
}

.vote-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  background: #F7E094;
  color: #666;
  position: absolute;
  top: -15px;
  right: -15px;
  text-align: center;
  float: right;
}

/*Mobile*/

@media only screen and (max-width: 600px)  {

  .feed {
    width: 100%;
    margin-left: 15%;
  }

  .item-img {
    width: 100%;
    height:auto;
  }
  .item-details {
    width:90%;
    padding-bottom: 20px;
  }

  .item-type {
    width: 36%;
  }

  .collection-item {
    width: 70%;
  }

 }
