body {
  background: #fafbfc;
  text-align: center;
}

#logo {
  padding-left: 20px;
  padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 70%;
}

.collection-item {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 10px;
  background: white;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.item-details {
  display: inline-block;
  line-height: 1.7em;
  padding-left: 20px;
  float: left;
  width: 47%;
  box-sizing: border-box;
}

.posted-by-img {
  position: relative;
  top: 10px;
  border-radius: 10%;
}

h2 {
  color: black;
  font-size: 26px;
  text-align: left;
}

.posted-by {
  text-align: left;
  padding-bottom: 20px;
}

.friend-name {
  margin-bottom: 4px;
}

.friend-details {
  display: inline-block;
  padding-left: 20px;
}

.time-stamp {
  font-size: 11px;
  color: grey;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.item-img {
  float: left;
  display: inline-block;
  height: 200px;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-type {
  border-radius: 5px;
  padding: 3px 3px;
  width: 30%;
  text-align: center;
  margin-top: 20px;
}

.Drinks {
  background-color: #94E9F7;
}

.Shopping {
  background-color: #FA4C6A;
 }

.Coffee {
  background-color: #974CFA;
}

.Food {
  background-color: #F7E094;
}

.vote {
  position: absolute;
  right: 25px;
  top: 25px;
}

/*Mobile*/

@media only screen and (max-width: 940px) {
  .feed {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {

  h3 {
    margin-bottom: 0;
  }

  .feed {
    width: 100%;
    margin-left: 15%;
  }

  .item-img {
    width: 100%;
  }
  
  .item-details {
    width: 90%;
    padding-bottom: 20px;
  }

  .item-type {
    width: 36%;
  }

  .collection-item {
    width: 70%;
  }

  .vote {
    right: 16px;
    top: 286px;
  }

    .follow-button {
    float: none;
    position: inherit;
    padding-top: 20px;
  }

  .hamburger-dropdown {
    display: none;
  }

  .hamburger {
    display: inline-block;
    float: right;
    padding-right: 20px;
  }

  .add-item,
  .find-friends,
  .logout,
  .profile,
  .feed-link {
    display: none;
  }

}
