body {
 	background: #FAFBFC;
 	text-align: center;
 }


.cta-row {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.form {
	-webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  padding: 40px;
  background-color: white;
  margin: 0% 30% 10% 30%;	
  border: 1px solid #ECECEC;
  border-radius: 10px;
  display: inline-block;
}

p {
  padding-bottom: 20px;
}

fieldset {
  border: 0px;
  font-size: 0;  
}

label {
  text-align: left;
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.field {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}

input {
  height: 40px;
  width: 95%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding-bottom: 26px;
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 70px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 12px 13px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #F7E094;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#friend-results {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 100%;
  background-size: cover;
  background: #F7E094;
  border-top: 1px solid #ECECEC;
}

.friend {
  width: 50%;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  background: white;
  text-align: left;
  margin-bottom: 50px;
  display: inline-block;
}

.friend-img {
  float: left;
  height: 80px; 
  margin-right:20px;
}

.follow-friend {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
}

.follow-button {
  float: right;
  position: relative;
  left: 300px;
  bottom: 36px;
}

.friend-details {
  display: inline-block;
  line-height: 1.7em;
  padding: 20px;
  float:left;
  width:47%;
}

.friend-name, .friend-email {
  padding: 0;
  margin: 0;
}

.friend-name {
  padding-top: 12px;
  font-size: 22px;
}


/*Mobile*/

@media only screen and (max-width: 600px) {
	body {
    padding-bottom: 0px;
  }

 	.form, #signup-form {
    margin: 7%; 
    padding: 10%;
    text-align: center;
  }

 	.switch-field label {
	  width: 44px;
	  font-size: 13px;
	  padding: 10px 13px;
	}

  .signup-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .friend {
    width: 80%;
  }

  .follow-button {
    float: none;
    position: inherit; 
    padding-top: 20px;
  }

 }



