/* Defaults for all elements */\
* {
  box-sizing: border-box;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
/*  height: 100%;*/
  margin: 0;
  color: black;
  font-family: 'Muli', sans-serif;
}

.main-button {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
}
