body {
 	background: #FAFBFC;
 	text-align: center;
 }

#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.collection-item {
 	width: 50%;
 	margin: 50px auto 0px auto;
 	border: 1px solid #ECECEC;
 	border-radius: 10px;
 	background: white;
 	text-align: left;
 	position: relative;
}

.item-details {
	display: inline-block;
	line-height: 1.7em;
	padding-left: 20px;
  float:left;
  width:47%
}

.profile-bio {
	padding-bottom: 30px;
  line-height: 1.7em;
}

.clear{
  clear: both;
}

a {
  text-decoration: none;
}

p {
	margin: 0;
}

.item-img {
	float: left;
  display:inline-block;
	height: 200px;
}

.item-type {
	background: #FA4C6A;
	color: white;
	border-radius: 5px;
	padding: 3px 3px;
	width: 20%;
	text-align: center;
  margin-top: 20px;
}

.vote-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  background: #F7E094;
  color: #666;
  position: absolute;
  top: -15px;
  right: -15px;
  text-align: center;
  float: right;
}

/*Mobile*/

@media only screen and (max-width: 600px)  {

  .profile-bio {
    padding: 0px 10px 20px 10px;
  }
  .item-img {
  	width: 100%;
    height:auto;
  }
  .item-details {
    width:90%;
    padding-bottom: 20px;
  }

  .item-type {
    width: 36%;
  }

  .collection-item {
    width: 70%;
  }

 }
