body {
  background: #fafbfc;
  text-align: center;
}

#logo {
  padding-left: 20px;
  padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.collection-item {
  width: 50%;
  margin: 50px auto 0px auto;
  border: 1px solid #ececec;
  border-radius: 10px;
  background: white;
  text-align: left;
  position: relative;
}

.item-details {
  display: inline-block;
  line-height: 1.7em;
  padding-left: 20px;
  float: left;
  width: 47%;
}

.profile-image {
  border-radius: 10px;
}

.profile-section {
  padding-top: 10%;
}

.profile-bio {
  padding-bottom: 30px;
  line-height: 1.7em;
}

.edit-link {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

p {
  margin: 0;
}

.item-img {
  float: left;
  display: inline-block;
  height: 200px;
  width: 30%;
  background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-type {
  border-radius: 5px;
  padding: 3px 3px;
  width: 30%;
  text-align: center;
  margin-top: 20px;
}

.Drinks {
  background-color: #94E9F7;
}

.Shopping {
  background-color: #FA4C6A;
 }

.Coffee {
  background-color: #974CFA;
}

.Food {
  background-color: #F7E094;
}

.profile-feed {
  padding-bottom: 50px;
}

.vote {
  position: absolute;
  right: 25px;
  top: 25px;
}

.vote-count {
  position: relative;
  bottom: 10px;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
  .profile-bio {
    padding: 0px 10px 20px 10px;
  }

  .item-img {
    width: 100%;
  }

  .item-details {
    width: 90%;
    padding-bottom: 20px;
  }

  .item-type {
    width: 36%;
  }

  .collection-item {
    width: 70%;
  }

  .vote {
    right: 16px;
    top: 295px;
  }

}
