body {
 	background: #FAFBFC;
 	text-align: center;
 }

#logo {
	padding-left: 20px;
	padding-top: 10px;
  height: 16px;
  vertical-align: middle;
}

.collection-item {
 	width: 50%;
 	margin: 50px auto 0px auto;
 	border: 1px solid #ECECEC;
 	border-radius: 10px;
 	background: white;
 	text-align: left;
 	position: relative;
}

.item-details {
	display: inline-block;
	line-height: 1.7em;
	padding-left: 20px;
  float:left;
  width:47%
}

.profile-section {
  padding-top: 10%;
}

.profile-bio {
	padding-bottom: 30px;
  line-height: 1.7em;
}

.edit-link {
  margin-bottom: 30px;
}

.clear{
  clear: both;
}

p {
	margin: 0;
}

.item-img {
	float: left;
  display:inline-block;
	height: 200px;
}

.item-type {
	background: #FA4C6A;
	color: white;
	border-radius: 5px;
	padding: 3px 3px;
	width: 20%;
	text-align: center;
  margin-top: 20px;
}

.vote-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  background: #F7E094;
  color: #666;
  position: absolute;
  top: -15px;
  right: -15px;
  text-align: center;
  float: right;
}

/* edit modal */

.form {
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  padding: 0px;
  background-color: white;
  margin: 8% 10% 20% 10%; 
  border-radius: 10px;
}

fieldset {
  border: 0px;
  font-size: 0;  
}

label {
  text-align: left;
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.field {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}

input {
  height: 40px;
  width: 95%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
}

/*Mobile*/

@media only screen and (max-width: 600px)  {

  .profile-bio {
    padding: 0px 10px 20px 10px;
  }

  .item-img {
  	width: 100%;
    height:auto;
  }

  .item-details {
    width:90%;
    padding-bottom: 20px;
  }

  .item-type {
    width: 36%;
  }

  .collection-item {
    width: 70%;
  }

 }
