body {
 	background: #FFDD95;
 }

.logo-section {
	border-bottom: 1px solid #eaeaea;
	padding: 16px 0px 16px 0px;
	text-align: center;
	background: white;
	position: static;
}

.signup-header {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

h1 {
	font-size: 30px;
	font-style: bold;
	margin-bottom: 0;
	padding-top: 30px;
	color: #393939;
}

p {
	font-size: 18px;
	color: #393939;
	padding-bottom: 30px;
}

.cta-row {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}

fieldset {
	background: #FFDD95;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #F6F6F6 !important;
  font-size: 0;  
  margin: 0% 30% 20% 30%;	
}

label {
  text-align: left;
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.field {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}

input {
  height: 40px;
  width: 95%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
}

